/* Start Varibals */
:root {
    --main-color: #00c7fc;
    --secend-color: #0b84a5;
    --alt-color: rgb(15 116 143 / 70%);;
    --main-transition: 0.5s;
    --main-section-padding: 100px;
}
/* Start Varibals */
/* Start Glopal Rouls */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200) {
    .container {
        width: 1190px;
    }
}
/* End Glopal Rouls */
/* Start Component */
.main-heading {
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    margin-bottom: 60px;
}
.main-heading h2 {
    padding: 30px 0;
    position: relative;
    font-weight: normal;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #333;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #FFF;
}
.main-heading p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #777;
    line-height: 2;
}
/* End Component */
/* Start Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    min-height: 90px;
}
.header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fafafa;
    bottom: 0;
    left: 15px;
}
.header .container a img {
    height: 40px;
}
.header .container .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .container .nav > i {
    font-size: 22px;
    font-weight: bold;
    color: white;
    display: none;
}
@media (max-width: 767px) {
    .header .container .nav > i {
        display: block;
    }
}
.header .container .nav ul {
    display: flex;
}
@media (max-width: 767px) {
    .header .container .nav ul {
        display: none;
    }
    .header .container .nav i:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 11%);
    }
}
.header .container .nav ul a {
    display: block;
    padding: 35px 15px;
    font-size: 14px;
    color: white;
    position: relative;
    transition: all var(--main-transition);
}
@media (max-width: 767px) {
    .header .container .nav ul a {
        padding: 15px;
    }
}
.header .container .nav ul a.active,
.header .container .nav ul a:hover {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
    z-index: 2;
}
.header .container .nav .form {
    position: relative;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #FFF;
}
.header .container .nav .form i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}
/* End Header */
/* Start Landing */
.landing {
    background-image: url("../image/landin.jpg");
    background-color: black;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.landing .overlay {
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--alt-color);
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 991px) {
    .landing .content {
        width: 100%;
        padding: 30px;
    }
}
.landing .content .text {
    width: 550px;
    color: white;
}
.landing .content .text h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 30px;
}
.landing .content .text p {
    font-size: 16px;
    line-height: 2;
}
.landing i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
}
.landing i:first-of-type {
    left: 30px;
}
.landing i:last-of-type {
    right: 30px;
}
@media (max-width: 767px) {
    .landing i {
        display: none;
    }
}
.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullets li {
    width: 16px;
    height: 16px;
    border: 1px solid #FFF;
    margin-right: 10px;
    border-radius: 50%;
}
.landing .bullets li.active {
    background-color: var(--main-color);
}
/* End Landing */
/* Start services */
.services {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}
@media (min-width: 992px) {
    .services .serv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 40px;
    }
}
.services .serv-container .box {
    display: flex;
}
.services .serv-container .box i {
    margin-right: 50px;
    font-size: 32px;
    position: relative;
    top: 5px;
}
.services .serv-container .box .text {
    flex: 1;
}
.services .serv-container .box .text h2 {
    margin: 0;
    color: var(--main-color);
    font-size: 25px;
    font-weight: normal;
}
.services .serv-container .box .text P {
    font-size: 14px;
    font-weight: normal;
    color: #777;
    line-height: 1.7;
}
@media (max-width: 991px) {
    .services .serv-container .box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .services .serv-container .box i {
        margin: 0 0 15px;
    }
    .services .serv-container .box .text h2 {
        margin: 0 0 15px;
    }
}
/* End services */
/* Start Desgin */
.desgin {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-image: url(../image/design-features.jpg);
    background-size: cover;
    position: relative;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.desgin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 55%);
    width: 100%;
    height: 100%;
}
.desgin .image {
    position: relative;
    text-align: center;
    flex: 1;
}
.desgin .image img {
    position: relative;
    bottom: -150px;
}
.desgin .desgin-right {
    position: relative;
    flex: 1;
    padding: 50px;
    background-color: var(--alt-color);
    color: white;
    z-index: 2;
}
.desgin .desgin-right h2 {
    margin-bottom: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.desgin .desgin-right ul li {
    padding: 15px 0;
    position: relative;
}
.desgin .desgin-right ul li::before {
    position: relative;
    content: "\e163";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    left: 0;
    margin-right: 40px;
    font-size: 20px;
}
@media (max-width: 992px) {
    .desgin .image {
        display: none;
    }
    .desgin .desgin-right h2 {
        font-size: 26px;
    }
}
/* End Desgin */
/* Start Portfolio */
.portfolio {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
}
.portfolio .shefile {
    text-align: center;
    display: flex;
    justify-content: center;
}
.portfolio .shefile li {
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all var(--main-transition);
    overflow: hidden;
    border-radius: 3px;
}
.portfolio .shefile li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all var(--main-transition);
    z-index: -1;
}
.portfolio .shefile li:hover::before {
    max-width: 100%;
}
.portfolio .shefile li:hover,
.portfolio .shefile li.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .image-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    overflow: hidden;
}
.portfolio .image-container .box {
    position: relative;
    overflow: hidden;
}
@media (min-width: 1200px) {
    .portfolio .image-container .box {
        flex-basis: 25%;
    }
}
@media (max-width: 1199px) {
    .portfolio .image-container .box {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .portfolio .image-container .box {
        flex-basis: 100%;
    }
}
.portfolio .image-container .box img {
    width: 100%;
    transition: all var(--main-transition);
}
.portfolio .image-container .box:hover img {
    transform: scale(1.1) rotate(3deg);
}
.portfolio .image-container .box .text {
    position: absolute;
    bottom: -100%;
    transition: all var(--main-transition);
    background-color: rgb(255 255 255 / 80%);
    width: 100%;
    padding: 20px 15px;
}
.portfolio .image-container .box:hover .text {
    bottom: 0px;
}
.portfolio .image-container .box .text h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.portfolio .image-container .box .text p {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}
.portfolio a {
    padding: 15px 30px;
    width: fit-content;
    margin: 30px auto;
    display: block;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    transition: all var(--main-transition);
    border-radius: 6px;
}
.portfolio a:hover {
    background-color: var(--secend-color);
}
/* End Portfolio */
/* Start Videos */
.videos {
    position: relative;
}
.videos::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    top: 0;
    left: 0;
}
.videos video {
    max-width: 100%;
}
.videos .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: var(--alt-color);
    padding: 50px;
    color: white;
}
.videos .text h2 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.videos .text p {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: normal;
}
.videos .text a {
    width: fit-content;
    display: block;
    padding: 10px 30px;
    background-color: black;
    margin: 0 auto;
    color: white;
    outline: none;
    text-transform: uppercase;
    font-size: 18px;
}
/* End Videos */
/* Start About */
.about {
    padding-top: var(--main-section-padding);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.about .container {
    overflow: hidden;
}
.about .container img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
@media (max-width: 767px) {
    .about .container img {
        bottom: -115px;
        margin-top: -115px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
    background-image: url("../image/stats.png");
    background-size: cover;
    background-position: center;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    color: white;
    background-color: var(--alt-color);
    padding: 50px;
}
@media (min-width: 1200px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
@media (max-width: 1200px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
.stats .container .box i {
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 15px;
}
.stats .container .box span {
    display: block;
    text-align: center;
}
.stats .container .box span:first-of-type {
    font-size: 35px;
    font-weight: bold;
}
.stats .container .box span:last-of-type {
    font-size: 14px;
    margin-top: 15px;
    font-weight: normal;
}
/* End Stats */
/* Start Testimonil Skills */
.testimonil-skills {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
}
.testimonil-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .testimonil-skills .container {
        flex-direction: column;
    }
}
.testimonil-skills .container .testimonil,
.testimonil-skills .container .skills {
    flex-basis: 45%;
}
.testimonil-skills .container .testimonil .main-heading h2 {
    font-size: 18px;
    text-align: center;
}
.testimonil-skills .container .testimonil .main-heading p {
    max-width: 400px;
    text-align: center;
    margin: 15px auto;
}
.testimonil-skills .container .skills .main-heading h2 {
    font-size: 18px;
    text-align: center;
}
.testimonil-skills .container .skills .main-heading p {
    max-width: 400px;
    text-align: center;
    margin: 15px auto;
}
.testimonil-skills .container .testimonil .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    .testimonil-skills .container .testimonil .info {
        flex-direction: column;
    }
    
}
.testimonil-skills .container .testimonil .info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 40px;
    position: relative;
    top: -10px;
}
@media (max-width: 767px) {
    .testimonil-skills .container .testimonil .info img {
        margin: 0 auto 15px;
    }
}
.testimonil-skills .container .testimonil .info .text {
    flex: 1;
    border-bottom: 1px solid #DDD;
}
.testimonil-skills .container .testimonil .info .text p:first-of-type {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: black;
}
.testimonil-skills .container .testimonil .info .text p:last-of-type {
    text-align: right;
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}
.testimonil-skills .container .testimonil .bullets {
    display: flex;
    justify-content: center;
}
.testimonil-skills .container .testimonil .bullets li {
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    border-radius: 50%;
}
.testimonil-skills .container .testimonil .bullets li:not(:last-child) {
    margin-right: 10px;
}
.testimonil-skills .container .testimonil .bullets li.active {
    background-color: var(--main-color);
}
.testimonil-skills .container .skills .progress h4 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: normal;
}
.testimonil-skills .container .skills .progress .prog {
    height: 30px;
    background-color: #DDd;
}
.testimonil-skills .container .skills .progress .prog span {
    height: 100%;
    background-color: var(--main-color);
    display: block;
    position: relative;
}
.testimonil-skills .container .skills .progress .prog span::before {
    content: attr(date-proggress);
    position: absolute;
    top: -40px;
    right: -20px;
    width: 40px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.testimonil-skills .container .skills .progress .prog span::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -4px;
    border: 5px solid;
    border-color: black transparent transparent transparent;
}
/* End Testimonil Skills */
/* Start Quote */
.quote {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
    background-image: url("../image/quote.jpg");
    background-size: cover;
}
.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg 0% 0% / 70%);
}
.quote .container {
    position: relative;
    color: white;
    text-align: center;
}
.quote .container p {
    margin-bottom: 20px;
    position: relative;
    font-size: 30px;
}
.quote .container p::before {
    content: open-quote;
}
.quote .container p::after {
    content: close-quote;
}
.quote .container span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}
/* End Quote */
/* Start pricing */
.pricing {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}
.pricing .container .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.pricing .container .plans .plan {
    text-align: center;
    background-color: #fcfcfc;
}
.pricing .container .plans .plan .head {
    padding: 30px 10px;
    position: relative;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .plans .plan .head div {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing .container .plans .plan .head span {
    font-size: 45px;
    font-weight: bold;
    display: block;
}
.pricing .container .plans .plan .head span::before {
    content: "$";
    position: relative;
    top: -15px;
    font-size: 35px;
    margin-right: 10px;
}
.pricing .container .plans .plan .head span::after {
    content: "/ Mo";
    font-size: 20px;
    position: relative;
    bottom: 0;
    margin-left: 10px;
}
.pricing .container .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .plans .plan ul li {
    display: block;
    padding: 30px 15px;
    position: relative;
}
.pricing .container .plans .plan ul li:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pricing .container .plans .plan .foot {
    margin: 40px 0;
}
.pricing .container .plans .plan .foot a {
    width: fit-content;
    display: block;
    margin: 0 auto;
    border: 1px solid Var(--main-color);
    padding: 15px;
    color: blue;
    position: relative;
    z-index: 1;
}
.pricing .container .plans .plan .foot a:hover {
    transition-delay: 0.5s;
    color: white;
}
.pricing .container .plans .plan .foot a::before,
.pricing .container .plans .plan .foot a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    z-index: -1;
}
.pricing .container .plans .plan .foot a:hover::before {
    animation: left-move 0.5s linear forwards;
}
.pricing .container .plans .plan .foot a:hover::after {
    animation: right-move 0.5s linear forwards;
}
.pricing .container p {
    margin: 40px auto;
    width: fit-content;
    font-size: 18px;
}
.pricing .container .btn {
    width: fit-content;
    display: block;
    margin: 0 auto;
    background-color: var(--main-color);
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border-radius: 6px;
    transition: all var(--main-transition);
}
.pricing .container .btn:hover {
    background-color: var(--secend-color);
}
/* End pricing */
/* Start Email */
.section-email {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-image: url("../image/subscribe.jpg");
    background-size: cover;
    position: relative;
}
.section-email::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.section-email .container {
    display: flex;
    align-items: center;
    position: relative;
}
@media (max-width: 767px) {
    .section-email .container {
        flex-direction: column;
    }
}
.section-email .container form {
    position: relative;
    display: flex;
    width: 500px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .section-email .container form {
        margin-bottom: 25px;
    }
}
.section-email .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: white;
}
.section-email .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    border: 1px solid #FFF;
    background: none;
    outline: none;
    border-right: none;
    color: white;
    caret-color: var(--main-color);
    max-width: calc(100% - 130px);
}
.section-email .container form input[type="email"]::placeholder {
    color: white;
}
.section-email .container form input[type="submit"] {
    width: 130px;
    border: none;
    background-color: var(--main-color);
    color: white;
    border: 1px solid #FFF;
    border-left: none;
    text-transform: uppercase;
    padding: 10px 15px;
}
.section-email .container p {
    color: white;
    margin-left: 50px;
}
@media (max-width: 767px) {
    .section-email .container p {
        text-align: center;
        margin: 0;
    }
}
/* End Email */
/* Start Contect */
.contect {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}
.contect .cont {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contect .cont {
        flex-direction: column;
    }
}
.contect .cont form {
    flex-basis: 75%;
}
@media (max-width: 767px) {
    .contect .cont form {
        flex-basis: 100%;
    }
}
.contect .cont form input {
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #CCC;
    caret-color: var(--main-color);
}
.contect .cont form textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    outline: none;
    border: 1px solid #CCC;
    resize: none;
    caret-color: var(--main-color);
}
.contect .cont form a {
    display: block;
    width: fit-content;
    margin: 20px 0 0 auto;
    text-align: right;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    transition: all var(--main-transition);
}
.contect .cont form a:hover {
    background-color: var(--secend-color);
}
.contect .cont .info {
    flex-basis: 20%;
    text-align: center;
}
@media (max-width: 767px) {
    .contect .cont .info {
        margin-bottom: 30px;
        order: -1;
    }
}
.contect .cont .info .tel {
    margin-bottom: 20px;
    color: #777;
}
.contect .cont .info .tel div {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contect .cont .info .tel span {
    margin-bottom: 10px;
    display: block;
}
.contect .cont .info .address {
    color: #777;
}
.contect .cont .info .address div {
    margin-bottom: 15px;
    text-transform: uppercase;
}
/* End Contect */
/* Start Footer */
.footer {
    padding-top: calc(var(--main-section-padding) - 50px);
    padding-bottom: calc(var(--main-section-padding) - 70px);
    background-image: url("../image/subscribe.jpg");
    background-color: #333;
    background-size: cover;
    position: relative;
}
.footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
}
.footer .container {
    position: relative;
    color: white;
    text-align: center;
}
.footer .container img {
    margin-bottom: 40px;
}
.footer .container .social p {
    font-size: 26px;
    padding-bottom: 30px;
    border-bottom: 2px solid #FFF;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
}
.footer .container .social i {
    font-size: 20px;
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
    transition: all var(--main-transition);
}
.footer .container .social i:hover {
    color: #1da1f2;
}
.footer .container .copy-right p {
    font-size: 18px;
}
.footer .container .copy-right p span {
    color: var(--main-color);
}
/* End Footer */
/* Start Animation */
@keyframes right-move {
    0% {
        left: 0;
        width: 0;
    }
    100% {
        left: 0%;
        width: 50%;
    }
}
@keyframes left-move {
    0% {
        right: 0;
        width: 0;
    }
    100% {
        right: 0%;
        width: 50%;
    }
}
/* End Animation */